/* Main layout: 3 cột trái - giữa - phải */
/* .main-container {
    display: grid;
    grid-template-columns: 5% 65% 30%;
    grid-template-rows: 100%;
} */


/* Lưới danh mục */
.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cột có chiều rộng bằng nhau*/
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 3rem;
}


/* Breadcrumb container */
.pathway-category {
  text-align: left;
  margin: 20px 0;
  padding-left: 10px; /* hoặc dùng margin-left nếu thích */
  font-size: 22px;
  box-sizing: border-box;
}

.breadcrumb-item a:hover {
    color: rgb(33, 33, 226) ;
    text-decoration:underline; /* Gạch chân văn bản */ 
    transition: color 0.3s ease; 
}


/* Breadcrumb style */
.breadcrumb {
  margin-left: 15px;
  margin-right: 15px;
}

/* Item trong danh mục */
.item-category {
  background-color: #f9f9f9;              
  padding: 1.5rem 15px;                   /* Khoảng cách bên trong */
  text-align: center;                    
  border-radius: 20px;              /* Bo góc */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
  transition: transform 0.2s ease;       /* Hiệu ứng khi hover */
  height: 100%;                          /* Chiều cao chiếm toàn bộ khung cha */
  display: flex;                         /* Flex layout để căn giữa nội dung */
  flex-direction: column;               /* Sắp xếp theo chiều dọc */
  align-items: center;                  /* Căn giữa theo chiều ngang */
  justify-content: center;              /* Căn giữa theo chiều dọc */
  text-decoration: none;                /* Bỏ gạch chân (nếu là thẻ a) */
  color: inherit;                        /* Giữ màu chữ theo cha */
}


.item-category:hover {
  transform: translateY(-3px); /* Di chuyển phần tử lên trên 3px theo trục dọc */
  background-color: dodgerblue;
}

.item-category a {
  display: block; /* Hiển thị phần tử dưới dạng block để chiếm toàn bộ chiều ngang */
  text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
  color: inherit; /* Kế thừa màu chữ từ phần tử cha */
}

/* Hình ảnh trong danh mục */
.item-category img {
  height: 50px;
  margin-bottom: 10px;
}

/* Tên danh mục */
.article-info {
  font-weight: bold;
  font-size: 25px;
  color: #333;
}


/* Responsive: Tablet */
@media (max-width: 992px) {
  /* .main-container {
    flex-direction: column;
  } */

  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive: Mobile */
@media (max-width: 576px) {
  .category-grid {
    grid-template-columns: 1fr;
  }
}
