body{
    background-color: #EEEEEE;
}
.main-container{
    display: grid; /* để bố trí con theo lưới */
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
}


table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
}
th {
    background-color: #f0f0f0;
}
img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.btn-view {
    color: blue;
    text-decoration: none;
    margin-right: 10px;
}
.btn-delete {
    color: red;
    text-decoration: none;
}

.btn-create{
    color: rgb(238, 27, 27);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;

}
